#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

%:
	cmake -DCMAKE_INSTALL_PREFIX=/usr .
	dh $@ --parallel

override_dh_auto_test:

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=RelWithDebInfo
